@mixin box-shadow(
	$size-x: $shadow-offset-x,
	$size-y: $shadow-offset-y,
	$blur: $shadow-blur,
	$color: $shadow-color
) {
	box-shadow: $size-x $size-y $blur $color;
}

@mixin box-shadow-hover(
	$size-x: $shadow-offset-x,
	$size-y: $shadow-offset-y,
	$blur: $shadow-blur,
	$color: $dark-shadow-color
) {
	box-shadow: $size-x $size-y $blur $color;
}
