.header-menu {
	position: fixed;
	width: 100%;
	background-color: white;
}

header div {
	@extend %flex-center;
	position: relative;
	max-width: 600px;
	width: 100%;
}

header a {
	position: absolute;
	left: 20px;
}

.fa-arrow-left {
	font-size: 16px;
}

.main-menu {
	background-color: $localisation-color;
}

main > img {
	min-height: 272px;
	height: 260px;
	max-height: 260px;
	object-fit: cover;
	width: 100%;
	position: relative;
	top: 56px;
	object-position: 50% 60%;
}

main > img[alt="la note enchantée"] {
	object-position: 50% 50%;
}

.menu-container {
	background-color: $background-color-main;
	padding-top: 40px;
	padding-bottom: 50px;
	position: relative;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	max-width: 700px;
	margin: auto;

	& > div:nth-of-type(1) {
		display: flex;
		align-items: center;
		padding-right: 20px;
		padding-left: 20px;
	}

	h1 {
		flex: 1;
		font-size: 28px;
		font-weight: 700;
		font-family: $headind-font;
	}

	span {
		border-bottom: solid 3px $blue-color;
		padding-bottom: 5px;
	}

	section {
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 20px;
	}

	h2 {
		font-size: 16px;
		font-weight: 400;
		width: 100%;
		padding-bottom: 10px;
	}

	article {
		background-color: white;
		border-radius: 15px;
		width: 100%;
		animation: ItemMenu 1s forwards;
		position: relative;
		top: 40px;
		opacity: 0;
		display: flex;
		padding: 0;
		cursor: pointer;

		.menu-check {
			background-color: $blue-color;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
			color: white;
			@extend %flex-center;
			font-size: 22px;
			min-width: 0%;
			opacity: 0;
			transition: all 1s;
		}

		.fa-check-circle {
			margin-right: 0%;
			transition: all 0.7s;
		}

		&:hover .menu-check {
			opacity: 1;
			min-width: 70px;
		}

		&:hover .fa-check-circle {
			transform: rotate(360deg);
		}
	}

	.menu-one {
		animation-delay: 0.2s;
	}

	.menu-two {
		animation-delay: 0.5s;
	}

	.menu-three {
		animation-delay: 0.7s;
	}

	.menu-four {
		animation-delay: 1s;
	}

	h3 {
		font-weight: 700;
		padding-bottom: 5px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	p {
		font-size: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	& > div:nth-of-type(2) {
		text-align: center;
	}
}
.menu-items {
	display: flex;
	align-items: flex-end;
	width: 100%;
	min-width: 70%;
	padding: 15px;
}

.menu-meal {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	margin-right: 10px;
}
