.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: hsla(0, 0%, 100%, 0.9);
	@extend %flex-center;
	z-index: 2;
	animation: loader 0s forwards;
	animation-delay: 2s;

	p {
		background: $gradient-color;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		padding: 15px;
		font-size: 40px;
		margin-right: 15px;
		font-family: $headind-font;
	}

	.spin {
		border: 5px solid #f3f3f3;
		border-top: 5px solid $purple-color;
		border-bottom: 5px solid $pink-color;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		animation: spin 2s linear infinite;
	}
}
